[Desktop Entry]
Version=1.0
Type=Application
Exec=sh /opt/vclient/update.sh
Icon=/opt/vclient/resource/image/about_vCl_logo.png
StartupNotify=false
Terminal=false
Categories=Setting_Myself;
OnlyShowIn=XFCE;
Name=fronview_update
Name[zh_CN]=系统升级
