[Desktop Entry]
Version=1.0
Type=Application
Exec=/opt/vclient/vclientnotautostart.sh
Icon=/opt/vclient/resource/image/about_vCl_logo.png
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=vClient
