#include "winver.h"
#include "../../config.h"
#if defined (VERSION_OEM) || defined(VERSION_DHC)
#ifdef VERSION_OEM
    IDI_ICON1   ICON    DISCARDABLE "image/vclient.ico"
#endif
#ifdef VERSION_DHC
    IDI_ICON1   ICON    DISCARDABLE "image/DHC-vclient.ico"
#endif
    VS_VERSION_INFO VERSIONINFO
     FILEVERSION 2,9,2,30
     PRODUCTVERSION 2,9,2,30
     FILEFLAGS 0x0L
     FILEFLAGSMASK 0x3fL
     FILEOS 0x00040004L
     FILETYPE 0x1L
     FILESUBTYPE 0x0L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "000004b0"
            BEGIN
                            VALUE "FileDescription", "vClient"
                            VALUE "FileVersion", "2.9.2,30"
                            VALUE "LegalCopyright", "  "
                            VALUE "ProductName", "vClient"
                            VALUE "ProductVersion", "2.9.2"
            END
        END
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x0, 1200
        END
    END
#else
    IDI_ICON1   ICON    DISCARDABLE "image/vclient.ico" //fronware.ico" //DHC-vclient.ico"
    VS_VERSION_INFO VERSIONINFO
     FILEVERSION 2,9,2,30
     PRODUCTVERSION 2,9,2,30
     FILEFLAGS 0x0L
     FILEFLAGSMASK 0x3fL
     FILEOS 0x00040004L
     FILETYPE 0x1L
     FILESUBTYPE 0x0L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "000004b0"
            BEGIN
                            VALUE "FileDescription", "vClient"
                            VALUE "FileVersion", "2.9.2,30"
                            VALUE "LegalCopyright", "Copyright (C) 2013 Beijing Fronware Software Co., Ltd."
                            VALUE "ProductName", "vClient"
                            VALUE "ProductVersion", "2.9.2"
            END
        END
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x0, 1200
        END
    END
#endif
